In [1]:
import os
import pandas as pd
import xlrd
from pathlib import Path
import openpyxl
from openpyxl import load_workbook
import numpy as np

In [2]:
#Identify files with AB 1045 Forms in them, extract worksheets which may contain this form
#names like "Common OP Procedures" or "AB 1045 form"
xlsx_file = Path('SimData', '/home/ygael/Projects/healthcare/data/2019_CDM_chargemaster/Adventist Health Clearlake/106171049_CDM_All_2019.xlsx')
wb_obj = openpyxl.load_workbook(xlsx_file) 

# Read the active sheet:
sheet = wb_obj.active

In [3]:
print(sheet["A80"].value)

400069

In [4]:
datalist=[]
for row in sheet.iter_rows():
    for cell in row:
        datalist.append(cell.value)

In [5]:
print(sheet.max_row, sheet.max_column)

8713 4

In [6]:

#Get column names
col_names = []
for column in sheet.iter_cols(1, sheet.max_column):
    col_names.append(column[0].value)
   
    
print(col_names)

['Charge Code', 'Charge Code Description', 'HCPCS Code', 'June 2019 Prices']

In [7]:
#Create a dictionary from the speadsheet

data = {}

for i, row in enumerate(sheet.iter_rows(values_only=True)):
    if i == 0:
        for i in range(len(col_names)):
            data[row[i]] = [col_names[i]]

    else:
        for i in range(len(col_names)):
            data[col_names[i]].append(row[i])

In [8]:
#Create a dataframe from the spreadsheet
df = pd.DataFrame(data)
df = df.iloc[1:]

In [9]:
df

,Charge Code,Charge Code Description,HCPCS Code,June 2019 Prices
1,1255,ROOM/BED: Intensive Care,None,9350.13
2,7211,ROOM/BED: Med/Surg Private,None,4935.76
3,17509,ROOM/BED: Newborn Routine,None,3172.4
4,21253,ROOM/BED: Med/Surg Semi-Private,None,4390.68
5,27003,ROOM/BED: Obstetrics LDRP Semi-Private,None,4561.25
...,...,...,...,...
8708,9520156,PF PM DEPRESSION SCREENING 95 952,None,0.01
8709,9520511,PF PM DIL RETINAL EYE EXAM W/INTERP 95 952,None,0.01
8710,9520586,PF PM HGB A1C LEVEL < 7.0% 95 952,None,0.01
8711,9520594,PF PM HGB A1C LEVEL 7.0%-9.0% 95 952,None,0.01
8712,9520602,PF PM HGB A1C LEVEL > 9.0% 95 952,None,0.01

In [10]:
#Pull relavant data from worksheets

startFolder ="/home/ygael/Projects/healthcare/data/2020_CDM_chargemaster"

for subdir, dirs, files in os.walk(rootdir):
    for file in files:
        hospital_df = pd.DataFrame(pd.read_excel(file))
        lines=f.readlines()
        f.close()
        f=open(file,'w')
        for line in lines:
            newline = "No you are not"
            f.write(newline)
        f.close()

NameError: name 'rootdir' is not defined

In [ ]:
#get sheet names
sheetnames=wb_obj.sheetnames

In [ ]:
#Create a keywords list to identify ABS 1045 forms
keywords= ["common", "procedures", "1045", "form"]

In [ ]:
#Search for the sheet by keyword
for name in sheetnames:
    wholename=name.lower()
    wordsInName=wholename.split()
    match =  any(item in wordsInName for item in keywords)
    if match==True:
        print(wb_obj[name])

In [ ]:
##Getting the 1045 data
xlsx_file = Path('SimData', '/home/ygael/Projects/healthcare/data/2020_CDM_chargemaster/Alvarado Hospital/106370652_CDM_All_2020.xlsx')
wb_obj = openpyxl.load_workbook(xlsx_file) 

# Read the active sheet:
sheet = wb_obj.active

In [44]:
found=False
keywords = ["evaluation", "management"]
for row in wb_obj["ABS 1045"].iter_rows():
    if found==False:
        for cell in row:
            heading = str(cell.value).lower()
            wordsInHeading=heading.split()
            match =  any(item in wordsInHeading for item in keywords)
            if match==True:
                found = True
                coord1=cell.coordinate
                df=pd.DataFrame(wb_obj["ABS 1045"][f"{coord1}:C9"])

In [48]:
coord2

'C6'

In [57]:
found=False
keywords = ["evaluation", "management"]
for row in wb_obj["ABS 1045"].iter_rows():
    if found == False:
        for cell in row:
            heading = str(cell.value).lower()
            wordsInHeading=heading.split()
            match =  any(item in wordsInHeading for item in keywords)
            if match==True:
                found = True
                coord1=cell.coordinate
                splitcoord=split(coord1)
                alphaindex=(alphabet.index(f'{splitcoord[0]}'))+2
                alphachar=alphabet[alphaindex]
                numindex=splitcoord[1]
                numindex=int(numindex)+3
                numindex=str(numindex)
                coord2=f"{alphachar}{numindex}"
                df=pd.DataFrame(wb_obj["ABS 1045"][f"{coord1}:{coord2}"])
                print(coord1)
                print(coord2)
                break;

A6
C9

In [58]:
df

                      0                     1                     2
0  <Cell 'ABS 1045'.A6>  <Cell 'ABS 1045'.B6>  <Cell 'ABS 1045'.C6>
1  <Cell 'ABS 1045'.A7>  <Cell 'ABS 1045'.B7>  <Cell 'ABS 1045'.C7>
2  <Cell 'ABS 1045'.A8>  <Cell 'ABS 1045'.B8>  <Cell 'ABS 1045'.C8>
3  <Cell 'ABS 1045'.A9>  <Cell 'ABS 1045'.B9>  <Cell 'ABS 1045'.C9>

In [ ]:
sheet = wb_obj["ABS 1045"]
#Get column names
col_names = []
for column in sheet.iter_cols(1, sheet.max_column):
    col_names.append(column[0].value)

In [ ]:
col_names

In [ ]:
values=[]
for row in wb_obj["ABS 1045"]["A6:C9"]:
    for i in range(len(row)):
        values.append(row[i].value)

In [ ]:
Avalues=[]
Bvalues=[]
Cvalues=[]
for row in wb_obj["ABS 1045"]["A6:A9"]:
    for i in range(len(row)):
        Avalues.append(row[i].value)
for row in wb_obj["ABS 1045"]["B6:B9"]:
    for i in range(len(row))
        Bvalues.append(row[i].value)
for row in wb_obj["ABS 1045"]["A6:A9"]:
    for i in range(len(row)):
        Cvalues.append(row[i].value)

In [ ]:
data = np.array(values).reshape((4, 3))

In [ ]:
data

In [22]:
df=pd.DataFrame(data=data)

In [23]:
df
df.columns = df.iloc[0]
df.drop(df.index[0])

,Evaluation & Management Services (CPT Codes 99201-99499),2019 CPT Code,Average Charge
1,"Emergency Room Visit, Level 2 (low to moderate...",99282,746.55
2,"Emergency Room Visit, Level 3 (moderate severity)",99283,1051.05
3,"Emergency Room Visit, Level 4 (high severity)",99284,1581.3

In [24]:
df

,Evaluation & Management Services (CPT Codes 99201-99499),2019 CPT Code,Average Charge
0,Evaluation & Management Services (CPT Codes 99...,2019 CPT Code,Average Charge
1,"Emergency Room Visit, Level 2 (low to moderate...",99282,746.55
2,"Emergency Room Visit, Level 3 (moderate severity)",99283,1051.05
3,"Emergency Room Visit, Level 4 (high severity)",99284,1581.3

In [25]:
df["Service Type"]=values[0]

In [26]:
df

,Evaluation & Management Services (CPT Codes 99201-99499),2019 CPT Code,Average Charge,Service Type
0,Evaluation & Management Services (CPT Codes 99...,2019 CPT Code,Average Charge,Evaluation & Management Services (CPT Codes 99...
1,"Emergency Room Visit, Level 2 (low to moderate...",99282,746.55,Evaluation & Management Services (CPT Codes 99...
2,"Emergency Room Visit, Level 3 (moderate severity)",99283,1051.05,Evaluation & Management Services (CPT Codes 99...
3,"Emergency Room Visit, Level 4 (high severity)",99284,1581.3,Evaluation & Management Services (CPT Codes 99...

In [27]:
df.rename(columns={values[0]:"Services"})

,Services,2019 CPT Code,Average Charge,Service Type
0,Evaluation & Management Services (CPT Codes 99...,2019 CPT Code,Average Charge,Evaluation & Management Services (CPT Codes 99...
1,"Emergency Room Visit, Level 2 (low to moderate...",99282,746.55,Evaluation & Management Services (CPT Codes 99...
2,"Emergency Room Visit, Level 3 (moderate severity)",99283,1051.05,Evaluation & Management Services (CPT Codes 99...
3,"Emergency Room Visit, Level 4 (high severity)",99284,1581.3,Evaluation & Management Services (CPT Codes 99...

In [29]:
df["Service Type"] = "Evaluation and Management"

In [30]:
df

,Evaluation & Management Services (CPT Codes 99201-99499),2019 CPT Code,Average Charge,Service Type
0,Evaluation & Management Services (CPT Codes 99...,2019 CPT Code,Average Charge,Evaluation and Management
1,"Emergency Room Visit, Level 2 (low to moderate...",99282,746.55,Evaluation and Management
2,"Emergency Room Visit, Level 3 (moderate severity)",99283,1051.05,Evaluation and Management
3,"Emergency Room Visit, Level 4 (high severity)",99284,1581.3,Evaluation and Management

In [ ]:
Laboratory & Pathology Services (CPT Codes 80047-89398)

In [ ]:
def split(word):
    return [char for char in word]

In [46]:
found=False
keywords = ["evaluation", "management"]
for row in wb_obj["ABS 1045"].iter_rows():
    if found == False:
        for cell in row:
            heading = str(cell.value).lower()
            wordsInHeading=heading.split()
            match =  any(item in wordsInHeading for item in keywords)
            if match==True:
                found = True
                coord1=cell.coordinate
                splitcoord=split(coord1)
                alphaindex=(alphabet.index(f'{splitcoord[0]}'))+2
                alphachar=alphabet[alphaindex]
                numindex=splitcoord[1]
                coord2=f"{alphachar}{numindex}"
                df=pd.DataFrame(wb_obj["ABS 1045"][f"{coord1}:{coord2}"])
                break;

In [47]:
df

                      0                     1                     2
0  <Cell 'ABS 1045'.A6>  <Cell 'ABS 1045'.B6>  <Cell 'ABS 1045'.C6>

In [34]:
alphabet=["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]
coord1="A9"

In [46]:
def split(word):
    return [char for char in word]
splitcoord=split(coord1)

In [39]:
alphaindex=(alphabet.index(f'{splitcoord[0]}'))+2
alphachar=alphabet[alphaindex]
print(alphachar)

numindex=splitcoord[1]
print(numindex)
coord2=f"{alphachar}:{numindex}"
print(coord2)

C
6
C:6

In [42]:
df

                      0                     1                     2
0  <Cell 'ABS 1045'.A6>  <Cell 'ABS 1045'.B6>  <Cell 'ABS 1045'.C6>